<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hallo :) </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hallo, ' + ${name} + '!'"/> 
    <p th:text="'Ausprobieren:    localhost:1234/greeting?name=DeinName   '"/>

    <button id="Home">Zur Startseite</button>


</body>

<script>

document.getElementById("Home").addEventListener("click",GoToStart);

function GoToStart()
  {
    window.location = '/';   
  }

</script>


</html>